<nav class="navbar">
  <div class="nav-container">
    <div class="logo">Siphoria ☕</div>

  <div class="nav-links">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/order" routerLinkActive="active">Menu</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
</div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <footer class="footer">
  <div class="container">
    <p>© 2026 Siphoria Coffee. All Rights Reserved.</p>
  </div>
</footer> -->

<!-- ng build --configuration production -->
 <!-- firebase deploy -->
