<nav class="navbar" *ngIf="showNavbar">
  <div class="nav-container">
    <div class="logo">Siphoria ☕</div>

  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active">Login</a>
    <a *ngIf="isLoggedIn" routerLink="/admin/orders" routerLinkActive="active">Dashboard</a>
  </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <footer class="footer">
  <div class="container">
    <p>© 2026 Siphoria Coffee. All Rights Reserved.</p>
  </div>
</footer> -->

<!-- ng build --configuration production -->
 <!-- firebase deploy -->
